header, footer, li{
	text-align: center;
}

header{
	padding: 10px;
	background-color: #BBFF77;
}
header h2{
	color: #202020;
	letter-spacing: 10px;
}
.btnConsultar{
	margin-top: 100px;
}
.newsList{
	margin-top: 50px;
}